<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <connectionStrings>
    <add name="MyConnection"
        connectionString="Server=remotemysql.com;Database=ddo9dUAbBv;Uid=ddo9dUAbBv;Pwd=AqNsNVQzKc;"/>
  </connectionStrings>
  
</configuration>