*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', ;
}

.preferences{
    margin-top: 10vh;
}
.row{
    margin: 20px;
    align-items: center;
    border: solid 1px  rgb(199, 199, 199);
    text-align: center;
    border-radius: 20px;
    color: rgb(100, 98, 98);
    padding: 10px;
}
.dayNumber{
    margin-left: 10px;
    margin-right: 0px;
    background:#323539;
    color: white;
    transition: 0.9s;
    border-radius: 10rem;
    font-size: 14px;
    min-width: 30px;
    padding: 0;
}
.dayNumber:hover{
    transition: 0.9s;
    background: #17A2B8;
}
.row .col-md-1 {
    padding-right: 10px;
    padding-left: 10px;
}
.weekDay{
    border-right: solid rgb(209, 208, 208) 1px;
    text-align: center;
}
.booked{
    color: rgb(23, 184, 117);
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid rgba(97, 97, 97, 0.144);
}
.booked-date{
    background-color:  rgb(23, 184, 117);
}
.btn.btn-outline-info{
    font-size: 12px;
    width: 90px;
}