body{
    min-height: 100vh;
}
.details-container{
    margin-top: 5%;
}

footer{
    color: rgb(219, 216, 216);
}

.next-shift{
    margin-top: 6%;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 500;
    align-items: center;
    color: rgba(255, 174, 0, 0.685);
    cursor: pointer;
}
.next-shift b{
    margin-left: 20px;
    color: rgba(12, 21, 31, 0.637);
    font-weight: 600;
    transition: .8s;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.next-shift b:hover{
    transition: .8s;
    color: black;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: rgb(187, 187, 187);
    display: none;
}
.nav-pills .nav-link{
    color: rgb(255, 174, 0);
    font-size: 20px;
    border: 1px solid rgba(255, 174, 0, 0.473);
}
.btn-update{
    letter-spacing: 2px;
    background: linear-gradient(120deg, rgba(255, 174, 0, 0.733) 0%,  #f7ad3d 100%);
    border: white;
    opacity: 0.8;;
    color: white;
    width: 300px;
    transition: 0.1s;  
}
.btn-update:hover{
    opacity:1;
    transition: 0.1s;   
    color:white;
}

.btn-pdf{
 width: 5px;   
}
.btn-pdf .btn-primary {
    color: #fff;
    background-color: rgb(255, 174, 0);
    border-color: rgb(255, 174, 0);
}

.btn-pdf .btn-primary:hover{
    color: #fff;
    background-color: rgb(255, 196, 0);
    border-color: rgb(255, 196, 0);
}