/* Imports */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* Defaults */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(120deg,  #ef7f2d 10%,  rgba(76, 101, 168, 0.664) 80%);
  background-size: 250% 250%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 40%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1, h2, h3 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(48, 47, 44, 0.678);
}

.main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.success-message{
  position: relative;
  bottom: 2vh;
  color: rgb(79, 192, 126);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
/* Helpers */
.absolute-centering {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.text-formatting, .main {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Montserrat', ;
  font-size: 14px;
}

/* Notification container */
.form {
  margin-top: 4vh;
}

.notification-container {
  margin-top: 45px;
  position: relative;
  background: #fff;
  border-radius: 1%;
  height: 80%;
  width: 80vh;
  padding: 2%;
}

.notification-container .form-group {
  margin-bottom: 2.4rem;
}

.notification-container .form-group .form-text {
  font-size: 8px;
}

.notification-container .form-group ::-webkit-input-placeholder {
  font-size: 12px;
}

.notification-container .form-group :-ms-input-placeholder {
  font-size: 12px;
}

.notification-container .form-group ::-ms-input-placeholder {
  font-size: 12px;
}

.notification-container .form-group ::placeholder {
  font-size: 12px;
}

/* Bubble button */
.sb-button {
  display: block;
  height: 100%;
  -webkit-animation: hue-rotate 10s linear infinite;
          animation: hue-rotate 10s linear infinite;
}

.button {
  -webkit-font-smoothing: antialiased;
  background-color: #1c1c1d;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
  color: #fff;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.button:hover {
  background-color: #2b86bb;
  color: #fff;
}

.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button--bubble {
  position: relative;
  z-index: 2;
  color: white;
  background: none;
}

.button--bubble:hover {
  background: none;
}

.button--bubble:hover + .button--bubble__effect-container .circle {
  background: #184b68;
}

.button--bubble:hover + .button--bubble__effect-container .button {
  background: #184b68;
}

.button--bubble:active + .button--bubble__effect-container {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button--bubble__container {
  position: relative;
  display: inline-block;
}

.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #1c1c1d;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #1c1c1d;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}

.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--bubble__container {
  top: 50%;
  margin-top: -25px;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(60deg);
    -moz-filter: hue-rotate(60deg);
    -ms-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(60deg);
    -moz-filter: hue-rotate(60deg);
    -ms-filter: hue-rotate(60deg);
    filter: hue-rotate(60deg);
  }
}
/*# sourceMappingURL=notification-page.css.map */