body{
    min-height: 100vh;
}
.details-container{
    margin-top: 5%;
}

footer{
    margin-top: 10vh;
}


.next-shift{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    cursor: pointer;
}
.next-shift b{
    margin-left: 20px;
    color: rgba(12, 21, 31, 0.637);
    font-weight: 600;
    transition: .8s;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.next-shift b:hover{
    transition: .8s;
    color: black;
    border-bottom: solid 1px black;
}