body{
    min-height: 100vh;
}
.details-container{
    margin-top: 5%;
}

footer{
    margin-top: 10vh;
}


.next-shift{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 500;
    align-items: center;
    color: rgba(255, 174, 0, 0.685);
    cursor: pointer;
}
.next-shift b{
    margin-left: 20px;
    color: rgba(12, 21, 31, 0.637);
    font-weight: 600;
    transition: .8s;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.next-shift b:hover{
    transition: .8s;
    color: black;
}